PySpark

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("First").getOrCreate()

data = [
    {"id": 1, "name": "Arun", "age": 28, "department": "IT", "salary": 55000},
    {"id": 2, "name": "Meena", "age": 32, "department": "HR", "salary": 48000},
    {"id": 3, "name": "Kiran", "age": 29, "department": "Finance", "salary": 61000},
    {"id": 4, "name": "Ravi", "age": 26, "department": "IT", "salary": 52000},
    {"id": 5, "name": "Anita", "age": 35, "department": "HR", "salary": 65000},
    {"id": 6, "name": "Sanjay", "age": 31, "department": "Marketing", "salary": 47000},
    {"id": 7, "name": "Pooja", "age": 27, "department": "Finance", "salary": 58000},
    {"id": 8, "name": "Rohit", "age": 30, "department": "IT", "salary": 60000},
    {"id": 9, "name": "Divya", "age": 33, "department": "Sales", "salary": 54000},
    {"id": 10, "name": "Sachin", "age": 29, "department": "Marketing", "salary": 50000}
]

df = spark.createDataFrame(data=data)
# df.show()