### Window Function

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, rank,dense_rank
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("window").getOrCreate()

emp_data = emp_data = [
    # IT – 5 records
    {"name": "Arun",     "dept": "IT",        "salary": 80000},
    {"name": "Meena",    "dept": "IT",        "salary": 85000},
    {"name": "Kiran",    "dept": "IT",        "salary": 80000},  # repeated
    {"name": "Sanjay",   "dept": "IT",        "salary": 90000},
    {"name": "Priya",    "dept": "IT",        "salary": 85000},  # repeated

    # HR – 5 records
    {"name": "Ravi",     "dept": "HR",        "salary": 60000},
    {"name": "Divya",    "dept": "HR",        "salary": 62000},
    {"name": "Vikas",    "dept": "HR",        "salary": 60000},  # repeated
    {"name": "Anu",      "dept": "HR",        "salary": 65000},
    {"name": "Rahul",    "dept": "HR",        "salary": 62000},  # repeated

    # Finance – 5 records
    {"name": "Anjali",   "dept": "Finance",   "salary": 95000},
    {"name": "Pooja",    "dept": "Finance",   "salary": 97000},
    {"name": "Suresh",   "dept": "Finance",   "salary": 95000},  # repeated
    {"name": "Kavya",    "dept": "Finance",   "salary": 98000},
    {"name": "Nitin",    "dept": "Finance",   "salary": 97000},  # repeated

    # Sales – 5 records
    {"name": "Rohit",    "dept": "Sales",     "salary": 70000},
    {"name": "Tanya",    "dept": "Sales",     "salary": 72000},
    {"name": "Naveen",   "dept": "Sales",     "salary": 70000},  # repeated
    {"name": "Sneha",    "dept": "Sales",     "salary": 75000},
    {"name": "Karan",    "dept": "Sales",     "salary": 72000}   # repeated
]


df = spark.createDataFrame(data=emp_data)
win = Window.partitionBy("dept").orderBy("salary")

df = df.withColumn("row_number", row_number().over(win)) \
       .withColumn("rank", rank().over(win)) \
       .withColumn("dense_rank", dense_rank().over(win)) 

df.select('name','dept','salary',"row_number","rank","dense_rank").show()

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F


employees = [
    {"emp_id": 1, "name": "Arun",  "dept": "IT",       "experience": 2,  "salary": 45000},
    {"emp_id": 2, "name": "Meena", "dept": "HR",       "experience": 6,  "salary": 65000},
    {"emp_id": 3, "name": "Kiran", "dept": "IT",       "experience": 4,  "salary": 55000},
    {"emp_id": 4, "name": "Sachin","dept": "Finance",  "experience": 8,  "salary": 82000},
    {"emp_id": 5, "name": "Priya", "dept": "Finance",  "experience": 1,  "salary": 40000},
    {"emp_id": 6, "name": "Deepa", "dept": "HR",       "experience": 10, "salary": 90000},
    {"emp_id": 7, "name": "John",  "dept": "Marketing","experience": 3,  "salary": 48000},
    {"emp_id": 8, "name": "Riya",  "dept": "Marketing","experience": 7,  "salary": 70000}
]

spark  = SparkSession.builder.appName("udf").getOrCreate()

df = spark.createDataFrame(employees)